@model PhoneRental.Models.Borrow

@{
    ViewBag.Title = "Készülék kiadása";
}

<h2>Készülék kiadása</h2>


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Előfoglalással</a></li>
        <li><a href="#tabs-2">Regisztrált felhasználó</a></li>
        <li><a href="#tabs-3">Új felhasználó</a></li>
    </ul>
 
    @Html.Partial("IndexTab1", new PhoneRental.Models.BorrowForPreBorrow())
    @Html.Partial("IndexTab2", new PhoneRental.Models.BorrowForExistingUser())
    @Html.Partial("IndexTab3", new PhoneRental.Models.BorrowForNewUser())




</div>

@section Styles {
    @Styles.Render("~/Content/themes/base/jquery.ui.all")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
                    $("#tabs").tabs({
                select: function(event, ui) {
                    $('#form1').each(function () {
                        this.reset();
                    });
                    $('#form2').each(function () {
                        this.reset();
                    });
                    $('#form3').each(function () {
                        this.reset();
                    });
                    $('#StartDate1').val('@ViewBag.StartDate');
                    $('#Deadline1').val('@ViewBag.Deadline');
                    $('#StartDate2').val('@ViewBag.StartDate');
                    $('#Deadline2').val('@ViewBag.Deadline');
                    $('#StartDate3').val('@ViewBag.StartDate');
                    $('#Deadline3').val('@ViewBag.Deadline');
                }
            })

            $(".calendar").datepicker();
            $(".calendar").datepicker("option", "showMonthAfterYear", true);
            $(".calendar").datepicker("option", "firstDay", 1);
            $(".calendar").datepicker("option", "defaultDate", +7);
            $(".calendar").datepicker("option", "monthNames", ["Január", "Február", "Március", "Április", "Május", "Június", "Július", "Augusztus", "Szeptember", "Október", "November", "December"]);
            $(".calendar").datepicker("option", "dayNamesMin", ["V", "H", "K", "Sze", "Cs", "P", "Szo"]);

            $('#StartDate1').val('@ViewBag.StartDate');
            $('#Deadline1').val('@ViewBag.Deadline');

            $('#DeviceTypeId2').change(function() {
                $.getJSON("/Borrow/DeviceListForDeviceType?DeviceTypeId=" + $(this).val(), null, function (data) {
                    $("#DeviceList2").fillSelect(data);
                });
            });

            $('#DeviceTypeId3').change(function () {
                $.getJSON("/Borrow/DeviceListForDeviceType?DeviceTypeId=" + $(this).val(), null, function (data) {
                    $("#DeviceList3").fillSelect(data);
                });
            });
        
            $('#PreBorrowId').change(function () {
                $.getJSON("/Borrow/DeviceListForPreBorrow?PreBorrowId=" + $(this).val(), null, function (data) {
                    $("#DeviceList1").fillSelect(data);
                });
            });
        });

        $.fn.clearSelect = function() {
            return this.each(function() {
                if (this.tagName == 'SELECT')
                    this.options.length = 0;
            });
        }

        $.fn.fillSelect = function(data) {
            return this.clearSelect().each(function() {
                if (this.tagName == 'SELECT') {
                    var dropdownList = this;
                    $.each(data, function(index, optionData) {
                        var option = new Option(optionData.Text, optionData.Value);
                        if ($.browser.msie) {
                            dropdownList.add(option);
                        }
                        else {
                            dropdownList.add(option, null);
                        }
                    });
                }
            });
        }

    </script>

        
}
