@model IEnumerable<PhoneRental.Models.Device>

@{
    ViewBag.Title = "Készülékek felvétele";
    var devices = Model.ToArray();
}

<h2>Készülékek felvétele</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DeviceType</legend>
        <div class="editor-label">
            <label for="DeviceTypeId">Készülék típusa</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeviceTypeId")
            @Html.DropDownList("AaitIdPattern")
            @Html.DropDownList("LargestId")
            <span class="field-validation-valid" data-valmsg-for="DeviceTypeId" data-valmsg-replace="true"></span>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Devices</legend>
        <table id="Devices">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imei)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AaitIdNumber)
                </th>
            <tr>
            @for (int i = 0; i < devices.Length; i++)
            {        
                <tr>
                    <td>
                        <div>@Html.HiddenFor(modelItem => devices[i].DeviceTypeId, new { @class = "DeviceTypeId" })</div>
                        <div class="editor-field">
                            @Html.TextBoxFor(modelItem => devices[i].Imei, new { @class = "imei-unique text-box single-line" })
                        </div>
                    </td>
                    <td>
                        <div class="editor-field editor-field-aait-nr">
                            <span class="AaitIdPattern"></span>_<span class="AaitIdNumber">@Html.TextBoxFor(modelItem => devices[i].AaitIdNumber, new { @class = "aait-nr-unique text-box single-line" }) </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(modelItem => devices[i].Imei)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(modelItem => devices[i].AaitIdNumber)
                    </td>
                </tr>
            }
        </table>
    </fieldset>
    <p>
        <input type="submit" value="Mentés" />
        <input type="button" value="-" onclick="removeDevice()" id="RemoveButton" style="display: none;" />
        <input type="button" value="+" onclick="addDevice()" />
    </p>
    
}

<div>
    @Html.ActionLink("Vissza a készülékek listájára", "Index")
</div>

<script id="deviceTemplate" type="text/x-jquery-tmpl">
    <tr style="display: none;">
        <td>
            <div><input Class="DeviceTypeId" id="devices_${Index}__DeviceTypeId" name="devices[${Index}].DeviceTypeId" type="hidden" value="${selectedVal}" /></div>
            <div class="editor-field">
                <input class="imei-unique text-box single-line" data-val="true" data-val-remote="Az megadott IMEI már létezik." data-val-remote-additionalfields="*.Imei,*.Id" data-val-remote-type="POST" data-val-remote-url="/Device/IsImeiUnique" data-val-required="Az IMEI megadása kötelező!" id="devices_${Index}__Imei" name="devices[${Index}].Imei" type="text" value="" />
            </div>
        </td>
        <td>
            <div class="editor-field editor-field-aait-nr">
                <span class="AaitIdPattern">${Pattern}</span>_<span class="AaitIdNumber"><input id="devices_${Index}__AaitIdNumber" class="aait-nr-unique text-box single-line" type="number" value="${Number}" name="devices[${Index}].AaitIdNumber" data-val-required="Az AAIT azonosító megadása kötelező!" data-val-remote-url="/Device/IsAaitIdNumberUnique" data-val-remote-type="POST" data-val-remote-additionalfields="*.AaitIdNumber,*.Id,*.DeviceTypeId" data-val-remote="A megadott AAIT azonosító már létezik." data-val-regex-pattern="[0-9]*$" data-val-regex="Az AAIT azonosítónak egy pozitív egész számnak kell lennie!" data-val-number="Az AAIT azonosítónak egy számnak kell lennie!" data-val="true"></span>
                                                                                         
            </div>
        </td>
    </tr>
    <tr style="display: none;">
        <td>
            <span class="field-validation-valid" data-valmsg-for="devices[${Index}].Imei" data-valmsg-replace="true"></span>
        </td>
        <td>
            <span class="field-validation-valid" data-valmsg-for="devices[${Index}].AaitIdNumber" data-valmsg-replace="true"></span>
        </td>
    </tr>
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerytmpl")
    <script type="text/javascript">
        var selectedVal = 0;
        var pattern = "";
        var largestId = 1;
        var i = @devices.Length
        
        $(document).ready(function () {
            $('#AaitIdPattern').hide();
            $('#LargestId').hide();
            $('select#DeviceTypeId').change(function () {
                deviceTypeChanged();
            });

            $('.AaitIdNumber').each(function (index) {
                $(this).find('input').attr("data-val-number", "Az AAIT azonosítónak egy számnak kell lennie!");
            });

            deviceTypeChanged();

            $.validator.addMethod(
                "imei-unique",
                function (value, element) {
                    if (value == "") return true;
                    
                    for (var k = 0; k < i; k++) {
                        var currentId = "devices_" + k + "__Imei";
                        var current = $("#" + currentId);
                        
                        if (element.id != currentId) {
                            
                            if (value == current.val()) {
                                return false;
                            }
                        }
                    }
                    return true;
                },
                "Ez az érték már egy másik mezőben is szerepel!"
            );

            $.validator.addMethod(
                "aait-nr-unique",
                function (value, element) {
                    if (value == "") return true;

                    for (var k = 0; k < i; k++) {
                        var currentId = "devices_" + k + "__AaitIdNumber";
                        var current = $("#" + currentId);

                        if (element.id != currentId) {

                            if (parseInt(value, 10) == parseInt(current.val(), 10)) {
                                return false;
                            }
                        }
                    }
                    return true;
                },
                "Ez az érték már egy másik mezőben is szerepel!"
            );

            reinitValidation();
        });

        function deviceTypeChanged () {
            selectedVal = $("#DeviceTypeId option:selected").val();
            $('.DeviceTypeId').val(selectedVal);
            pattern = $('#AaitIdPattern option:[value=' + selectedVal + ']').text();
            $('.AaitIdPattern').text(pattern);

            largestId = parseInt($('#LargestId option:[value=' + selectedVal + ']').text()) || 0;
            $('.AaitIdNumber').each(function (index) {
                $(this).find('input').val(addPaddingToInt(largestId + index + 1, 3));
            });
        }

        function addDevice() {
            var device = { 'Index': i, 'Pattern': pattern, 'Number': addPaddingToInt(largestId + i + 1, 3) };
            var newDevice = $("#deviceTemplate").tmpl(device);

            $('#Devices').append(newDevice);
            $('#Devices tr').show(500);

            reinitValidation();

            i++;

            if (i > 1) {
                $('#RemoveButton').show();
            }
        }

        function reinitValidation() {
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
        }

        function removeDevice() {
            if (i > 1) {
               $('#Devices tr').last().remove();
               $('#Devices tr').last().remove();

               reinitValidation();

               i--;


                if (i <= 1) {
                    $('#RemoveButton').hide();
                }
            }
        }

        function addPaddingToInt(number, digit) {
            var retval = number;
            if (number < 0) return retval;
            if (digit < 1) return retval;

            for (var i = Math.pow(10, digit-1); i > 1; i /= 10) {
                if (number < i) retval = '0' + retval;
                else return retval;
            }

            return retval;
        }

    </script>

}
