<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.CustomerName</title>
</head>
<body>
    <div>
        Kedves <b> @Model.CustomerName </b> !
    </div>
    <div>
        Könjük a megrendelésedet a következő típusú telefonra: @Model.PhoneType <br/>
        A telefont leghamarabb: @Model.Available tudod átvenni <br/>
        A kölönzési igényedet @Model.Date időponttal rögzítettük <br/>
    </div>
    <div>
        Üdvözlettel:<br/>
        BME-AAIT Amorg
    </div>
</body>
</html>
