<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Új előrendelés érkezett</title>
</head>
<body>
    <div>
        Új előfoglalás érkezett a telefonkölcsönző oldalon.<br/>
        Az igénylő neve: @Model.CustomerLastName @Model.CustomerFirstName <br/>
        Az igénylő email címe: @Model.CustomerEmail <br/>
        A lefoglalt telefon típusa: @Model.PhoneType <br/>
        A telefon elérhetősége: @Model.Available <br/>
        A kölönzési igényt @Model.Date időponttal rögzítettük <br/>
        A telefon kiadásához kattints a következő linkre <a href="@Model.Link">@Model.Link</a><br/>
    </div>
    <div>
        BME-AAIT Amorg
    </div>
</body>
</html>
