<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Új előrendelés érkezett</title>
</head>
<body>
    <style type="text/css">
        h3 {margin-bottom: 5px;}
        p {margin-top: 0px;}
    </style>
    <div>
        <p>Új előfoglalás érkezett az AMORG mobilkölcsönző oldalán.</p>

        <h3 style="margin-bottom: 5px;">Az igénylő adatai</h3>
        <b>Név:</b> @Model.CustomerLastName @Model.CustomerFirstName <br />
        <b>E-mail:</b> @Model.CustomerEmail <br />
        
        <h3 style="margin-bottom: 5px;">A készülék adatai</h3>
        <b>Típus:</b> @Model.DeviceType <br />
        <b>Elérhetőség:</b> @Model.Available <br />

        <p>
            A kölönzési igényt @Model.Date időponttal rögzítettük. <br />
            A készülék kiadásához kattints a következő linkre: <a href="@Model.Link">@Model.Link</a>
        </p>

        <p>
            BME-AAIT AMORG
        </p>
    </div>
</body>
</html>
