@model PhoneRental.Models.RoleModel

@{
    ViewBag.Title = "Felhasználó profiljának szerkesztése";
}

<h2>Felhasználó profiljának szerkesztése</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserProfile</legend>

        @Html.HiddenFor(model => model.UserId)

        <ol> 
            <li>
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </li>
            <li>
                @Html.LabelFor(model => model.LastName)
                @Html.TextBoxFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </li>
            <li>
                @Html.LabelFor(model => model.FirstName)
                @Html.TextBoxFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </li>
            <li>
                @Html.LabelFor(model => model.IsAdmin)
                @Html.CheckBoxFor(model => model.IsAdmin)
            </li>
        </ol>
        
        <input type="submit" value="Mentés" />
    </fieldset>
}

<div>
    @Html.ActionLink("Vissza a felhasználók listájára", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
