@model IEnumerable<PhoneRental.Models.UserProfile>

@{
    ViewBag.Title = "Felhasználók";
}

<h2>Felhasználók</h2>

<table>
    <tr>
        <th><th>
        <th>
            Név
        </th>
        <th>
            E-mail cím
        </th>
        <th>
            Szerepkör
        </th>
        <th></th>
    </tr>

@{var i = 0;
  List<string> roles = ViewBag.UsersRoles;
  List<string> avatars = ViewBag.UserAvatars;
  }
@foreach (var item in Model) {
    <tr>
        <td>
            <a href="javascript:showAvatar('@avatars.ElementAt(i)')">
                <img id="imgGravatar" style="height:48px;width:48px;" alt="" src="http://www.gravatar.com/avatar/@avatars.ElementAt(i)?s=48&d=mm">
            </a>
        <td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @roles.ElementAt(i)
        </td>
        <td>
            @Html.ActionLink("Szerkesztés", "Edit", new { id=item.UserId })
        </td>
    </tr>
    i++;
}

</table>
