@model PhoneRental.Models.Borrow

@{
    ViewBag.Title = "Index";
}

<h2>Készülék átadása</h2>


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Előfoglalással</a></li>
        <li><a href="#tabs-2">Regisztrált felhasználó</a></li>
        <li><a href="#tabs-3">Új felhasználó</a></li>
    </ul>
    <div id ="tabs-1">
        @using (Html.BeginForm("NewForPreBorrow", "Borrow", FormMethod.Post, new { Id = "form1" }))
        {
            @Html.ValidationSummary(true)

            <h3>Előfoglalás</h3>
            <fieldset>
                <legend>Borrow</legend>

                <div class="editor-field">
                    @Html.DropDownList("PreBorrowId", (SelectList)ViewBag.PreBorrows, string.Empty)
                </div>
                
                <div class="editor-label">
                     Készülék
                </div>

                <select id="DeviceList1" name="DeviceId"></select>

                <div class="editor-label">
                    Határidő
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Deadline, new { Id = "Deadline1", Class = "calendar", Name = "Deadline" })
                    @Html.ValidationMessageFor(model => model.Deadline)
                </div>

                <p>
                    <input type="submit" value="Tovább" />
                </p>
            </fieldset>
        }
    </div>

    <div id="tabs-2">
        @using (Html.BeginForm("NewForUser", "Borrow", FormMethod.Post, new { Id="form2"}))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Borrow</legend>

                 <div class="editor-label">
                    Felhasználó
                </div>

                <div class="editor-field">
                    @Html.DropDownList("UserId", (SelectList)ViewBag.Users, string.Empty)
                </div>

                <div class="editor-label">
                    Készülék típus
                </div>

                <div class="editor-field">
                    @Html.DropDownList("DeviceTypeId2", (SelectList)ViewBag.Devices, string.Empty)
                </div>

                <div class="editor-label">
                     Készülék
                </div>

                <select id="DeviceList2" name="DeviceId"></select>

                <div class="editor-label">
                     Határidő
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Deadline, new { Id = "Deadline2", Class = "calendar", Name = "Deadline" })
                    @Html.ValidationMessageFor(model => model.Deadline)
                </div>

                <p>
                    <input type="submit" value="Tovább" />
                </p>
            </fieldset>
        }

    </div>

    <div id="tabs-3">
        @using (Html.BeginForm("New", "Borrow", FormMethod.Post, new { Id = "form3" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Borrow</legend>
                
                <div class="editor-label">
                     Vezetéknév
                </div>
                                
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.User.LastName)
                    @Html.ValidationMessageFor(model => model.User.LastName)
                </div>

                <div class="editor-label">
                     Keresztnév
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.User.FirstName)
                    @Html.ValidationMessageFor(model => model.User.FirstName)
                </div>

                <div class="editor-label">
                     E-mail cím
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.User.UserName)
                    @Html.ValidationMessageFor(model => model.User.UserName)
                </div>

                <div class="editor-label">
                    Készülék típusa
                </div>

                <div class="editor-field">
                    @Html.DropDownList("DeviceTypeId3", (SelectList)ViewBag.Devices, string.Empty)
                </div>

                <div class="editor-label">
                     Készülék
                </div>

                <select id="DeviceList3" name="DeviceId"></select>

                <div class="editor-label">
                     Határidő
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Deadline, new { Id = "Deadline3", Class = "calendar", Name = "Deadline" })
                    @Html.ValidationMessageFor(model => model.Deadline)
                </div>

                <p>
                    <input type="submit" value="Tovább" />
                </p>
           </fieldset>
        }
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/themes/base/jquery.ui.all")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
            $("#tabs").tabs({
                select: function(event, ui) {
                    $('#form1').each(function () {
                        this.reset();
                    });
                    $('#form2').each(function () {
                        this.reset();
                    });
                    $('#form3').each(function () {
                        this.reset();
                    });
                }
            })

            $(".calendar").datepicker();
            $(".calendar").datepicker("option", "showMonthAfterYear", true);
            $(".calendar").datepicker("option", "firstDay", 1);
            $(".calendar").datepicker("option", "defaultDate", +7);
            $(".calendar").datepicker("option", "monthNames", ["Január", "Február", "Március", "Április", "Május", "Június", "Július", "Augusztus", "Szeptember", "Október", "November", "December"]);
            $(".calendar").datepicker("option", "dayNamesMin", ["V", "H", "K", "Sze", "Cs", "P", "Szo"]);

            $('#DeviceTypeId2').change(function() {
                $.getJSON("/Borrow/DeviceListForDeviceType?DeviceTypeId=" + $(this).val(), null, function (data) {
                    $("#DeviceList2").fillSelect(data);
                });
            });

            $('#DeviceTypeId3').change(function () {
                $.getJSON("/Borrow/DeviceListForDeviceType?DeviceTypeId=" + $(this).val(), null, function (data) {
                    $("#DeviceList3").fillSelect(data);
                });
            });
        
            $('#PreBorrowId').change(function () {
                $.getJSON("/Borrow/DeviceListForPreBorrow?PreBorrowId=" + $(this).val(), null, function (data) {
                    $("#DeviceList1").fillSelect(data);
                });
            });
        });

        $.fn.clearSelect = function() {
            return this.each(function() {
                if (this.tagName == 'SELECT')
                    this.options.length = 0;
            });
        }

        $.fn.fillSelect = function(data) {
            return this.clearSelect().each(function() {
                if (this.tagName == 'SELECT') {
                    var dropdownList = this;
                    $.each(data, function(index, optionData) {
                        var option = new Option(optionData.Text, optionData.Value);
                        if ($.browser.msie) {
                            dropdownList.add(option);
                        }
                        else {
                            dropdownList.add(option, null);
                        }
                    });
                }
            });
        }

    </script>

        
}
