@model PhoneRental.Models.BorrowForNewUser
    <div id="tabs-3">
        @using (Html.BeginForm("New", "Borrow", FormMethod.Post, new { Id = "form3" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Borrow</legend>
                
                <div class="editor-label">
                     Vezetéknév
                </div>
                                
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.LastName, new { id = "LastName3" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>

                <div class="editor-label">
                     Keresztnév
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FirstName, new { id="FirstName3" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>

                <div class="editor-label">
                     E-mail cím
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.UserName, new { id = "UserName3" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="editor-label">
                    Készülék típusa
                </div>

                <div class="editor-field">
                    @Html.DropDownList("DeviceTypeId", (SelectList)ViewBag.DeviceTypes, string.Empty, new { id = "DeviceTypeId3" })
                </div>

                <div class="editor-label">
                     Készülék
                </div>

                <div class="editor-field">
                    @Html.DropDownList("DeviceId", (SelectList)ViewBag.Devices, String.Empty, new { id="DeviceList3"})
                    @Html.ValidationMessageFor(model => model.DeviceId) 
                </div>

                <div class="editor-label">
                    Kiadás időpontja
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.StartDate, new { Id = "StartDate3", Class = "calendar", Name = "StartDate" })
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>

                <div class="editor-label">
                     Határidő
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Deadline, new { Id = "Deadline3", Class = "calendar", Name = "Deadline" })
                    @Html.ValidationMessageFor(model => model.Deadline)
                </div>

                <div class="editor-label">
                    @Html.CheckBoxFor(model => model.IsChargerOut, new { id = "IsChargerOut3" })
                    @Html.ValidationMessageFor(model => model.IsChargerOut)
                    Töltő kiadva
                </div>

                <div class="editor-label">
                    @Html.CheckBoxFor(model => model.IsBoxOut, new { id = "IsBoxOut3" })
                    @Html.ValidationMessageFor(model => model.IsBoxOut)
                    Doboz kiadva
                </div>

                <div class="editor-label">
                    Megjegyzés
                </div>

                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Note, new { cols="10", rows="3" })
                    @Html.ValidationMessageFor(model => model.Note)
                </div>

               <div class="editor-label">
                   <input type="checkbox" id="TermsOfUse3" />
                   Az ügyfél a <a href="@Url.Action("Index","TermsOfUse")" target="_blank">kölcsönzés feltételeit</a> elfogadja.
                </div>

                <p>
                    <input type="submit" value="Kiadás" id="button3" />
                </p>
           </fieldset>
        }
    </div>
    <div hidden="hidden">
        <a href="#" id="send3"></a>
    </div>