@model PhoneRental.Models.UserProfileModel
@{
    ViewBag.Title = "Felhasználói profil";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>
    <a href="javascript:showAvatar('@ViewBag.AvatarHash')">
        <img id="imgGravatar" style="height:80px;width:80px;" alt="" src="http://www.gravatar.com/avatar/@ViewBag.AvatarHash?s=80&d=mm">
    </a>
</p>

@Html.Partial("_ChangeUserNamePartial", Model.UserNameModel)
@Html.Partial("_ChangePasswordPartial", Model.PasswordModel)


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
