@model IEnumerable<PhoneRental.Models.DeviceType>

@{
    ViewBag.Title = "Készülék típusok";
}

<h2>Készülék típusok</h2>

<p>
    @Html.ActionLink("Új létrehozása", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AaitIdPattern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            AAIT_@Html.DisplayFor(modelItem => item.AaitIdPattern)_XXX
        </td>
        <td>
            <a href="javascript:showImage('@Html.ValueFor(modelItem => item.ImageUrl)')">
                <img src="/Images/Devices/thumb_@Html.ValueFor(modelItem => item.ImageUrl)" />
            </a>
        </td>
        <td>
            @Html.ActionLink("Szerkesztés", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
