@model PhoneRental.Models.MyBorrowModel

@{
    ViewBag.Title = "Kölcsönzéseim";
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Kölcsönzések</a></li>
        <li><a href="#tabs-2">Előfoglalások</a></li>
    </ul>
    <div id ="tabs-1">
        @if (ViewBag.HasBorrowed == true)
        {
            <table id="borrowTable" class="tablesorter" style="font-size: 0.85em;">
                <thead>
                    <tr>
                        <th>
                            Típus
                        </th>
                        <th>
                            AAIT azonosító (IMEI)
                        </th>
                        <th>
                            Kölcsönzés kezdete
                        </th>
                        <th>
                            Határidő
                        </th>
                        <th>
                            Kölcsönzés vége
                        </th>
                        <th>
                            Megjegyzés
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Borrows)
            {
                    <tr style="@((item.EndDate == null && DateTime.Compare(item.Deadline, DateTime.Now) < 0) ? "background: red;" : " ")">
                        <td>
                            @Html.DisplayFor(modelItem => @item.Device.DeviceType.Brand.Name) @Html.DisplayFor(modelItem => @item.Device.DeviceType.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.DeviceType.AaitIdPattern)_@Html.DisplayFor(modelItem => item.Device.AaitIdNumber)
                           (@Html.DisplayFor(modelItem => item.Device.Imei))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        }
        @if (ViewBag.HasBorrowed == false)
        {
            <p>Nincs egyetlen kölcsönzésed sem!</p>
        }
    </div>

    <div id ="tabs-2">
        @if (ViewBag.HasPreBorrowed == true)
        {
            <table id="preBorrowTable" class="tablesorter" style="font-size: 0.9em;">
                <thead>
                    <tr>
                        <th>
                            Típus
                        </th>
                        <th>
                            Előfoglalás időpontja
                        </th>
                        <th>
                            Elérhetőség
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.PreBorrows)
            {
                    <tr>
                        <td id="tl_@item.Id">
                            @Html.DisplayFor(modelItem => item.DeviceType.Brand.Name) @Html.DisplayFor(modelItem => item.DeviceType.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceType.Availability)
                        </td>
                        <td>
                            @Html.ActionLink("Előfoglalás törlése", "Delete", "PreBorrow", new {id=item.Id}, new{@class="confirm", @id="l_"+item.Id.ToString()})
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        }
        @if (ViewBag.HasPreBorrowed == false)
        {
            <p>Nincs egyetlen előfoglalásod sem!</p>
        }
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/themes/base/jquery.ui.all")
    @Styles.Render("~/Content/themes/base/jquery.tablesorter")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerytablesorter")
    @Scripts.Render("~/bundles/jqueryeasyconfirm") 
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });

        $(document).ready(function () {
            $("#borrowTable").tablesorter({
                sortList: [[0, 0]]
            });
        });

        $(document).ready(function () {
            $("#preBorrowTable").tablesorter({
                headers: { 3: { sorter: false } },
                sortList: [[0, 0]]
            });
        });

        $(".confirm").easyconfirm({
            locale: {
                title: 'BME-AUT Mobilkölcsönző előfoglalás törlésének jóváhagyása',
                text: 'Biztos, hogy szeretnéd a kiválasztott előfoglalást törölni?<br/><div id="confirmtext"></div>',
                button: ['Nem', ' Jóváhagyás'],
                closeText: 'bezárás',
                onload: function (target) {
                    var type = $("#t" + target.id).html();
                    var linkid = $("#confirmtext").html("<b>" + type + "</b>");
                }
            }
        });

    </script>
}