@model PhoneRental.Models.MyBorrowModel

@{
    ViewBag.Title = "Kölcsönzéseim";
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Kölcsönzések</a></li>
        <li><a href="#tabs-2">Előfoglalások</a></li>
    </ul>
    <div id ="tabs-1">
        @if (ViewBag.HasBorrowed == true)
        {
            <table id="borrowTable" class="tablesorter" style="font-size: 0.85em;">
                <thead>
                    <tr>
                        <th>
                            Típus
                        </th>
                        <th>
                            AAIT azonosító (IMEI)
                        </th>
                        <th>
                            Kölcsönzés kezdete
                        </th>
                        <th>
                            Határidő
                        </th>
                        <th>
                            Kölcsönzés vége
                        </th>
                        <th>
                            Megjegyzés
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Borrows)
            {
                    <tr style="@((item.EndDate == null && DateTime.Compare(item.Deadline, DateTime.Now) < 0) ? "background: red;" : " ")">
                        <td>
                            @Html.DisplayFor(modelItem => @item.Device.DeviceType.Brand.Name) @Html.DisplayFor(modelItem => @item.Device.DeviceType.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Device.DeviceType.AaitIdPattern)_@Html.DisplayFor(modelItem => item.Device.AaitIdNumber)
                           (@Html.DisplayFor(modelItem => item.Device.Imei))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        }
        @if (ViewBag.HasBorrowed == false)
        {
            <p>Nincs egyetlen kölcsönzésed sem!</p>
        }
    </div>

    <div id ="tabs-2">
        @if (ViewBag.HasPreBorrowed == true)
        {
            <table id="preBorrowTable" class="tablesorter" style="font-size: 0.9em;">
                <thead>
                    <tr>
                        <th>
                            Típus
                        </th>
                        <th>
                            Előfoglalás időpontja
                        </th>
                        <th>
                            Elérhetőség
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.PreBorrows)
            {
                    <tr>
                        <td id="tl_@item.DeviceTypeId">
                            @Html.DisplayFor(modelItem => item.DeviceType.Brand.Name) @Html.DisplayFor(modelItem => item.DeviceType.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceType.Availability)
                        </td>
                        <td>
                            <a href ="#" id="d_@item.DeviceTypeId" class="deleteconfirm">Előfoglalás törlése</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        }
        @if (ViewBag.HasPreBorrowed == false)
        {
            <p>Nincs egyetlen előfoglalásod sem!</p>
        }
    </div>
</div>
<div id="successdeletedialog" title="Előfoglalás sikeres törlése">
    A készülékre leadott előfoglalás törlése sikeresen megtörtént!
</div>
<div id="faileddeletedialog" title="Sikertelen törlés">
    Nem sikerült az előfoglalást törölni!
</div>
<div id="waitdialog" title="Várakozás..." style="z-index:101;">
    Kérem várjon a művelet befejezéséig!<br/><br/>
    <div id="progressbar"></div>
</div>
<div id="shadow"></div>

@section Styles {
    @Styles.Render("~/Content/themes/base/jquery.ui.all")
    @Styles.Render("~/Content/themes/base/jquery.tablesorter")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerytablesorter")
    @Scripts.Render("~/bundles/jqueryeasyconfirm") 
    <script type="text/javascript">
        $(function () {
            $("#shadow").css("height", $(document).height()).hide();

            $("#tabs").tabs();

            $("#successdeletedialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); location.reload(); } },
                close: function (event, ui) { location.reload(); }
            });
            $("#faileddeletedialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $("#shadow").hide(); $(this).dialog("close"); } }
            });

            $("#waitdialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); } }
            });
            $("#progressbar").progressbar({
                value: 0
            });

            $(".deleteconfirm").easyconfirm({
                locale: {
                    title: 'BME-AUT Mobilkölcsönző előfoglalás törlésének jóváhagyása',
                    text: 'Biztos, hogy szeretnéd a kiválasztott előfoglalást törölni?<br/><div class="deletetext"></div>',
                    button: ['Nem', ' Jóváhagyás'],
                    closeText: 'bezárás',
                    onload: function (target) {
                        $("#shadow").show();
                        var id = target.id.split('d_')[1];
                        var type = $("#tl_" + id).html();
                        var linkid = $(".deletetext").html("<b>" + type + "</b>");
                    },
                    close: function (event, ui) { $("#shadow").hide(); }
                }
            });

            $(".deleteconfirm").click(function () {
                startProgressbar();
                $.getJSON("/PreBorrow/Delete?DeviceTypeId=" + this.id.split('d_')[1], null, function (data) {
                    stopProgressbar();
                    if (data.result == "OK") {
                        $("#successdeletedialog").dialog("open");
                    } else {
                        $("#faileddeletedialog").dialog("open");
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#borrowTable").tablesorter({
                sortList: [[0, 0]]
            });
        });

        $(document).ready(function () {
            $("#preBorrowTable").tablesorter({
                headers: { 3: { sorter: false } },
                sortList: [[0, 0]]
            });
        });
        var counter = 0;
        var timer;
        function startProgressbar() {
            $("#waitdialog").dialog("open");
            counter = 0;
            $("#progressbar").progressbar("value", 0);
            timer = setInterval(function () {
                counter += 5;
                counter %= 100;
                $("#progressbar").progressbar("value", counter);
            }, 100);
        }
        function stopProgressbar() {
            $("#waitdialog").dialog("close");
            clearInterval(timer);
        }

    </script>
}