@model IEnumerable<PhoneRental.Models.Device>

@{
    ViewBag.Title = "Készülékek";
}

<h2>Készülékek</h2>

<p>
    @Html.ActionLink("Új készülék(ek)", "Create", "Device", new { type = ViewBag.typeId }, null)
</p>
@using (Html.BeginForm("Index", "Device", FormMethod.Get))
{
    @Html.DropDownList("type", null, new { onchange = "$(this).parents('form').submit();" })
}
<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AaitIdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imei)
            </th>
            <th>
                Kölcsönözve
            </th>
            <th>
                Kölcsönzés részletei
            </th>
            <th>
                Határidő
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="@((item.Borrow != null && DateTime.Compare(item.Borrow.Deadline, DateTime.Now) < 0) ? "background: red;" : " " )">
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType.AaitIdPattern)_@Html.DisplayFor(modelItem => item.AaitIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imei)
            </td>
            <td style="text-align: center;">
                @Html.CheckBox("IsBorrowed", item.Borrow != null, new { @readonly = "readonly", @disabled = "disabled" })
            </td>
            <td id="fb_@item.Id">
                @if (item.Borrow != null) {
                    string avatar = PhoneRental.Controllers.AccountController.GetMD5HashData(item.Borrow.User.UserName);
                    <table class="table-user"><tr style="border: 0;">
                    <td style="padding: 0;">
                        <a href="javascript:showAvatar('@avatar')">
                            <img id="imgGravatar" style="height:32px;width:32px;" alt="" src="http://www.gravatar.com/avatar/@avatar?s=32&d=mm">
                        </a>
                    </td>
                    <td style="padding: 0;">
                        @Html.DisplayFor(modelItem => item.Borrow.User.LastName)
                        @Html.DisplayFor(modelItem => item.Borrow.User.FirstName) <br />
                        @Html.DisplayFor(modelItem => item.Borrow.User.UserName) <br />
                    </td></tr></table>
                    @Html.CheckBoxFor(modelItem => item.Borrow.IsChargerOut, new { @readonly = "readonly", @disabled = "disabled" }) <text>Töltő kiadva</text>
                    @Html.CheckBoxFor(modelItem => item.Borrow.IsBoxOut, new { @readonly = "readonly", @disabled = "disabled" }) <text>Doboz kiadva</text>
                    <br />
                    @Html.DisplayFor(modelItem => item.Borrow.Note)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrow.Deadline)
            </td>
            <td>
                @Html.ActionLink("Szerkesztés", "Edit", new { id=item.Id })
                @if (item.Borrow != null)
                {
                <div>
                <a href ="#" id="@item.Id" class="endborrow">Visszavétel</a>
                </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<div id="successdialog" title="Sikeres visszavétel" style="display: none;">
    A készülék visszavétele sikeresen megtörtént
</div>
<div id="faileddialog" title="Sikertelen visszavétel" style="display: none;">
    A készülék visszavétele sikertelen volt
</div>
<div id="shadow"></div>

@section Styles {
    @Styles.Render("~/Content/themes/base/jquery.tablesorter")
    @Styles.Render("~/Content/themes/base/jquery.ui.all")
}

@section Scripts {
    @Scripts.Render("~/bundles/jquerytablesorter")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryeasyconfirm") 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#shadow").css("height", $(document).height()).hide();
            $("#myTable").tablesorter({
                headers: { 2: { sorter: false }, 5: { sorter: false } },
                sortList: [[0, 0]]
            });
            $("#successdialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); location.reload(); } },
                close: function (event, ui) { $("#shadow").hide(); location.reload(); }
            });
            $("#faileddialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $("#shadow").hide(); $(this).dialog("close"); } }
            });
            $(".endborrow").click(function () {
                $("#shadow").show();
                $.getJSON("/Borrow/BringBack?DeviceId=" + this.id, null, function (data) {
                    if (data.result == "OK") {
                        $("#successdialog").dialog("open");
                    } else {
                        $("#faileddialog").dialog("open");
                    }
                });

            });
        });

        $(".endborrow").easyconfirm({
            locale: {
                title: 'BME-AUT Mobilkölcsönző - kölcsönzött készülék visszavétele',
                text: 'Visszaveszed a készüléket a kiválasztott felhasználótól? <br/><div class="confirmtext"></div>',
                button: ['Nem', ' Jóváhagyás'],
                closeText: 'bezárás',
                onload: function (target) {
                    $("#shadow").show();
                    var details = $("#fb_" + target.id).html();
                    $('.confirmtext').html(details);
                },
                close: function (event, ui) { $("#shadow").hide(); }
            }
        });

    </script>
}