@model IEnumerable<PhoneRental.Models.DeviceType>

@{
    ViewBag.Title = "Kölcsönözhető Készülékek";
}

<h2>Kölcsönözhető készülékek</h2>

<table id="myTable" class="tablesorter">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Darab
            </th>
            <th>
                Elérhetőség
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="javascript:showImage('@Html.ValueFor(modelItem => item.ImageUrl)')">
                    <img src="/Images/Devices/thumb_@Html.ValueFor(modelItem => item.ImageUrl)" />
                </a>
            </td>
            <td id="bl_@item.Id">
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td id="tl_@item.Id">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Devices.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                <div>
                @if (!item.HasPreBorrowedByUser) {
                    <a href ="#" id="n_@item.Id" class="newconfirm">Előfoglalás</a>
                } else
                {
                    <p>Erre a készülékre már van előfoglalásod!</p>
                    <a href ="#" id="d_@item.Id" class="deleteconfirm">Előfoglalás törlése</a>
                }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="alertdialog" title="Figyelmeztetés!">
    A kölcsönzés feltételeit el kell fogadnod<br/>
    mielőtt előfoglalásodat leadod!
</div>
<div id="successnewdialog" title="Sikeres előfoglalás">
    A készülék előfoglalása sikeres volt!
</div>
<div id="failednewdialog" title="Sikertelen előfoglalás">
    A készülék előfoglalása sikertelen volt!
</div>
<div id="successdeletedialog" title="Előfoglalás sikeres törlése">
    A készülékre leadott előfoglalás törlése sikeresen megtörtént!
</div>
<div id="faileddeletedialog" title="Sikertelen törlés">
    Nem sikerült az előfoglalást törölni!
</div>
<div id="waitdialog" title="Várakozás..." style="z-index:101;">
    Kérem várjon a művelet befejezéséig!<br/><br/>
    <div id="progressbar"></div>
</div>
<div id="shadow"></div>


@section Styles {
    @Styles.Render("~/Content/themes/base/jquery.tablesorter")
    @Styles.Render("~/Content/themes/base/jquery.ui.all")
}

@section Scripts {
    @Scripts.Render("~/bundles/jquerytablesorter")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryeasyconfirm") 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#shadow").css("height", $(document).height()).hide();
            $("#myTable").tablesorter({
                headers: { 0: { sorter: false }, 5: { sorter: false } },
                sortList: [[1, 0]]
            });
            $(".deleteconfirm").easyconfirm({
                locale: {
                    title: 'BME-AUT Mobilkölcsönző előfoglalás törlésének jóváhagyása',
                    text: 'Biztos, hogy szeretnéd a kiválasztott előfoglalást törölni?<br/><div class="deletetext"></div>',
                    button: ['Nem', ' Jóváhagyás'],
                    closeText: 'bezárás',
                    onload: function (target) {
                        $("#shadow").show();
                        var id = target.id.split('d_')[1];
                        var brand = $("#bl_" + id).html();
                        var type = $("#tl_" + id).html();
                        var linkid = $(".deletetext").html("<b>" + brand + " " + type + "</b>");
                    },
                    close: function (event, ui) { $("#shadow").hide(); }
                }
            });
            $(".newconfirm").easyconfirm({
                locale: {
                    title: 'Új előfoglalás jóváhagyása',
                    text: 'Szeretnél előfoglalást leadni az alábbi készülékre?<br/><br/><div class="newtext"></div>',
                    button: ['Nem', ' Jóváhagyás'],
                    closeText: 'bezárás',
                    checkboxid: 'box0',
                    onload: function (target) {
                        $("#shadow").show();
                        var id = target.id.split('n_')[1];
                        var brand = $("#bl_" + id).html();
                        var type = $("#tl_" + id).html();
                        var linkid = $(".newtext").html("<b>" + brand + " " + type + "</b><br/><br/>" + "<input type='checkbox' id='box" + id + "'/> <i>A <a href='TermsOfUse' target='_blank'>kölcsönzés feltételeit</a> elfogadom</i>");
                        var cboxid = "box" + id;
                        this.checkboxid = cboxid;
                        this.alert = function (target) {
                            $("#alertdialog").dialog("open");
                        }
                    },
                    close: function (event, ui) { $("#shadow").hide(); }
                }
            });
            $("#alertdialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); } }
            });
            $(".newconfirm").click(function () {
                startProgressbar();
                $.getJSON("/PreBorrow/New?DeviceTypeId=" + this.id.split('n_')[1], null, function (data) {
                    stopProgressbar();
                    if (data.result == "OK") {
                        $("#successnewdialog").dialog("open");
                    } else {
                        $("#failednewdialog").dialog("open");
                    }
                });
            });
            $(".deleteconfirm").click(function () {
                startProgressbar();
                $.getJSON("/PreBorrow/Delete?DeviceTypeId=" + this.id.split('d_')[1], null, function (data) {
                    stopProgressbar();
                    if (data.result == "OK") {
                        $("#successdeletedialog").dialog("open");
                    } else {
                        $("#faileddeletedialog").dialog("open");
                    }
                });
            });
            $("#successnewdialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); location.reload(); } },
                close: function (event, ui) { location.reload(); }
            });
            $("#failednewdialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $("#shadow").hide(); $(this).dialog("close"); } }
            });
            $("#successdeletedialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); location.reload(); } },
                close: function (event, ui) { location.reload(); }
            });
            $("#faileddeletedialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $("#shadow").hide(); $(this).dialog("close"); } }
            });
            $("#alertdialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); } }
            });
            $("#waitdialog").dialog({
                autoOpen: false,
                buttons: { Ok: function () { $(this).dialog("close"); } }
            });
            $("#progressbar").progressbar({
                value: 0
            });
        });
        var counter = 0;
        var timer;
        function startProgressbar()
        {
            $("#waitdialog").dialog("open");
            counter = 0;
            $("#progressbar").progressbar("value", 0);
            timer = setInterval(function () {
                counter += 5;
                counter %= 100;
                $("#progressbar").progressbar("value", counter);
            }, 100);
        }
        function stopProgressbar() {
            $("#waitdialog").dialog("close");
            clearInterval(timer);
        }
    </script>
}
